@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);

@import 'https://fonts.googleapis.com/css?family=Do+Hyeon';
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-mode .alumni-heading{
  background-color: rgb(196, 210, 213);
  color: #0b115a;
}
.dark-mode .card__collection{
  background: none;
}
.dark-mode .alumni-heading:hover{
  color: black;
  background-color: #e0f0f0;
  border-bottom: 2px solid rgb(196, 210, 223);
  box-shadow: 0 3px rgb(196, 210, 233);
}
.alumni-heading{
  text-align: center;
  color: black;
  padding: 5px;
  text-shadow: 0 0 7px white;
  font-size: 46px;
  font-weight: 900;
  background-color: #808080;
  border-radius: 5px;
}
.alumni-heading:hover{
  color: #ffffe0;
  background-color: #101010;
  border-bottom: 1px solid white;
  border-radius: 0;
  box-shadow: 0 3px white;
}
.clear-fix:after {
  display: block;
  clear: both;
  content: "";
}

.img-responsive {
  max-width: 100%;
  height: 100%;
}

.card__collection {
  margin: 10px;
  margin-bottom: 70px;
  position: relative;
  top:110px;
  display: block;
  background: rgba(10, 10, 10, 0.5);
  padding: 20px;
  justify-content: center;
  font-family: "Do Hyeon", sans-serif;
  overflow: hidden;
}
@media (min-width: 1752px){
.card__collection{
  margin: 7% 13%;
  top: 20px;
   }
 }
@media (min-width: 1438px) and (max-width:1752px){
.card__collection{
  margin:10% 13%;
  top: 20px;
  padding: 20px;
   }
 }
@media (min-width: 1200px) and (max-width:1436px){
.card__collection{
  padding: 20px 0 20px 10%;
   }
 }
@media (min-width:1020px) and (max-width:1040px){
  .card__collection{
    padding: 20px 0;
  }
}
@media (min-width:1040px) and (max-width:1076px){
  .card__collection{
    padding: 20px 0 20px 10px;
  }
}
@media (min-width:1076px) and (max-width:1200px){
  .card__collection{
    padding: 20px 0 20px 5%;
  }
}
@media (min-width:770px) and (max-width:900px){
  .card__collection{
    padding: 20px 0 20px  7%;
  }
}
@media (min-width:900px) and (max-width:1020px){
  .card__collection{
    padding: 20px 0 20px  15%;
  }
}

@media (min-width:380px) and (max-width:436px) {
  .card__collection {
    top: 60px;
    padding: 20px 0 20px 10%;
  }
}
@media (min-width:360px) and (max-width:380px) {
  .card__collection {
    top: 60px;
    padding: 20px 0 20px 10px;
  }
}
@media (max-width:360px) {
  .card__collection {
    top: 60px;
    padding: 20px 0 20px 0 ;
  }
}
@media (min-width:436px) and (max-width:500px) {
  .card__collection {
    top: 60px;
    padding: 20px 0 20px 15%;
  }
}
@media (min-width:500px) and (max-width:688px) {
  .card__collection {
    top: 60px;
    padding: 20px 0 20px 20%;
  }
}
@media (min-width:750px) and (max-width:770px) {
  .card__collection {
    top: 60px;
    padding: 20px 0 20px 30px;
  }
}
@media (min-width:688px) and (max-width:750px) {
  .card__collection {
    top: 60px;
    padding: 20px 0;
  }
}
.card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 20px;
}

.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all 0.6s ease;
}
.card__collection .cards--two:hover p {
  left: 8%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover li {
  transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all 0.2s ease;
}
.card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__tri:before {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #57ccfd;
  position: absolute;
  content: "";
  display: block;
  top: -220px;
  right: -612px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.card__collection .cards--two__rect {
  width: 750px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.card__collection .cards--two__rect:before {
  content: "";
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #f07306;
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}
.card__collection .cards--two ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 9;
}
.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  transform: translateY(100px);
}
.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.card__collection .cards--two ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.card__collection .cards--two ul li:nth-child(4) {
  transition-delay: 0.4s;
}
