/* alumni.css */
.dark-mode .alumni-heading{
  background-color: #f5f8fd;
  color: #0b115a;
}
.dark-mode .card__collection{
  background: none;
}
.dark-mode .alumni-heading:hover{
  color: black;
  background-color: #f5f8fd;
}
/* togle btn css */

.toggle-btn {
  display: block;
  position: relative;
  color: #a4a0d6;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.switch {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a4b0d6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #cccca0;
}

input:focus+.slider {
  box-shadow: 0 0 3px #ccc;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

/* styles.css */
/* add light mode css here */
.dark-mode{
  background: #f5f8fd;
  /* background: #5b6987; */
}
.dark-mode .aksh .main-nav a, .dark-mode .aksh .toggle-btn{
  color: #51659f;
}
.dark-mode .main-nav .drop-down ul a {
    color: #065e77;
}
.dark-mode p{
  color: #376172 !important;
}
.dark-mode h3{
  color:black !important;
}
.dark-mode section .text1 > h2 {
    color: #425c76;
}
.dark-mode section.project1 .text1 h4{
  color: #3e9ac7;
}

.dark-mode .carda{
  background-color: #95c3c3;
}
.dark-mode .vibhav-zoom:hover {
  transform: scale(1.07);
  box-shadow: 10px 10px 8px #638886;
}
.dark-mode .header-scrolled{
  background-color:#d8e7f4 !important;
  /* background-color: #d7e3ec !important; */
}
.dark-mode #header .logo h1 a {
  color: white;
  text-shadow: 0 0 10px cyan, 0 0 30px cyan;
}
.dark-mode .main-nav a, .dark-mode .toggle-btn{
  color:black;
}
.dark-mode .main-nav a:hover{
  color:black;
}
.dark-mode #particles-js{
  background-color: white;
}
.dark-mode .text {
  color: #0a0a0a;
}
.dark-mode #portfolio-flters li{
  color: #376172 !important;
  font-weight: bold;
}
.dark-mode #portfolio-flters .filter-active{
  color: blue !important;
  font-weight: bold;
}
.dark-mode #about .about-img::before{
  background-color: #f5f8fd;
  /* background-color: #5b6987; */
}
.dark-mode #about .about-img::after{
  background-color: #f5f8fd;
  /* background-color: #5b6987; */
}
.dark-mode #about .about-content h2{
  color:#43406f;
}
.dark-mode .text-white{
  color: #1c1b1b !important;
}
.dark-mode .text-light{
  color: #1c1b1b !important;
}
.dark-mode a.text-light:focus, .dark-mode a.text-light:hover {
    color: #0962af !important;
  }
.dark-mode #call-to-action{
  background: white;
}
.dark-mode #faq #faq-list li {
  border-bottom: 1px solid #101010;
  box-shadow: 0 2px #8dd5dc;
}
.dark-mode #call-to-action .cta-title {
    color: #1a1818;
  }
.dark-mode .bg-dark {
    background-color: #d7e3ec !important;
}
.dark-mode .back-to-top{
  background: white;
  border:2px solid black;
}
.dark-mode .back-to-top i{
  color:black !important;
}
.dark-mode #footer .footer-top{
  background-color: white;
}
.dark-mode #footer .credits a {
  color: #922100;
}
/* .dark-mode #topbar i{
  color:black !important;
} */
.dark-mode .site-title a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

@keyframes neon3 {
  from {
    text-shadow:  0 0 20px cyan, 0 0 40px cyan, 0 0 70px cyan, 0 0 80px #182f84, 0 0 90px #182f84, 0 0 100px #182f84, 0 0 120px #182f84, 0 0 150px cyan;
  }
}
@-webkit-keyframes neon3 {
  from {
    text-shadow:  0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 70px cyan, 0 0 80px #182f84, 0 0 90px #182f84, 0 0 100px #182f84, 0 0 120px #182f84, 0 0 150px cyan;
  }
}
/* light mode end */
/* ak */

      <script type="text/javascript">
        function lm_function() {
          document.body.classList.toggle('dark-mode');

          const aksh = document.body.classList;
          if (aksh[0] == "dark-mode") {
            ak.particles.color.value = '#314e52';
            ak.particles.move.direction = 'bottom';
            ak.particles.move.speed = '6';
            ak.particles.number.value = '120';
            console.log(aksh[0]);
          } else {
            if (ak.particles.color.value == '#314e52') {
              ak.particles.color.value = '#ffffff';
            }
          }
          particlesJS('particles-js', ak);
          console.log("ak is", ak);
        }
        </script>
        
